@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
    background-color: hsl(0, 100%, 74%) ;
    background-image: url(images/bg-intro-desktop.png);
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

/* HEADER COLUMN */
#header-section {
    padding: 15em 2em 0 7em;
}

.header {
    font-size: 2.75em;
    font-weight: 700;
    padding-bottom: 0.5em;
}

/* FORM COLUMN */
.form-column {
    padding: 5em 10em 5em 2em;
}

/* sub-header */
h2 {
    font-size: 15px;
    font-weight: 400;
    padding-left: 7em;
    padding-top: 10px;
}

.sub-header {
    background-color: hsl(248, 32%, 49%);
    border-radius: 10px;
    box-shadow:0 8px 10px -6px black;
    padding: 1em;
    margin-bottom: 2em;
}

.sub-header-text {
    font-weight: 700;
}

/* form */
#form-section {
    background-color: white;
    border-radius: 10px;
    box-shadow:0 8px 10px -6px black;
    height: 75vh;
}

.form {
    padding: 0 2em 5em;
}

.form-control {
    padding: 1em 0 1em 3em;
    position: relative;
    font-size: 14px;
    font-weight: 600;
}

.form-control:hover {
    border: 2px solid hsl(248, 32%, 49%)
}

.invalid-feedback {
    font-size: 12px;
    padding-left: 24em;
    margin-top: -20px;
    margin-bottom: -10px;
}

.error-img {
    visibility: hidden;
}

.terms-text {
    color: hsl(0, 100%, 74%) ;
}

.form-column p {
    color: hsl(246, 25%, 77%);
    font-size: 12px;
    font-weight: 500;
    padding: 1.5em 0 2em 3em;
}

/* button */
.form-btn {
    background-color: hsl(154, 59%, 51%);
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid rgb(32, 153, 102);
    font-weight: 600;
    text-transform: uppercase;
    width: 100%;
    padding: 1em 0em;
    margin-top: 2em;
}

.form-btn:hover {
    background-color: hsl(154, 50%, 64%);
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid rgb(32, 153, 102);
}

/* FOOTER */
.attribution { 
    font-size: 1em; 
    text-align: center; 
}

.attribution a { 
    color: white; 
    text-decoration: none;
}

.attribution a:hover {
    color: hsl(248, 32%, 49%);
}

/* MEDIA QUERY */
@media(max-width: 600px) {
    body {
        background-color: hsl(0, 100%, 74%) ;
        background-image: url(images/bg-intro-mobile.png);
        text-align: center;
    }

    #header-section {
        padding: 7em 3em 0 3em;
    }

    .header-paragraph {
        padding: 0.25em 3em 0 3em;
    }

    h2 {
        text-align: center;
        padding: 1em 2em 0 2em;
    }

    #form-section {
        height: 78vh;
    }

    .form-column {
        padding: 2.5em 5em 5em 5em;
    }

    .invalid-feedback {
        padding-left: 9em;
    }

    .form-column p {
        padding: 1.5em 1em 2em 1em;
    }

    .attribution { 
        font-size: 12px; 
        margin-top: -6em;
    }
  
}